<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='tailwind.min.css')}}"
    />
    -->
    <title>Join Study App</title>
  </head>
  <body class="">
    <div
      class="font-bold p-2 w-full flex flex-row justify-between gap-12 lg:px-48"
    >
      <a href="/">Study App</a>
      <a href="{{ url_for('register', user_type='student') }}"
        >Register for Students</a
      >
      <a href="{{ url_for('register', user_type='teacher') }}"
        >Register for Teachers</a
      >
      <a href="/login" class="bg-gray-800 text-white rounded-full px-2 py-1"
        >Login</a
      >
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div
      id="message"
      class="translate-y-[-5rem] transition-all duration-300 mx-auto flex justify-center w-full font-bold text-gray-800 text-center fixed top-4 z-50 px-auto"
    >
      {% for category, message in messages %} {% if category == 'success' %}
      <div
        class="bg-green-100 p-2 rounded-md border border-green-200 text-nowrap"
      >
        {{message}}
      </div>
      {% else %}
      <div class="bg-red-100 p-2 rounded-md border border-red-200 text-nowrap">
        {{message}}
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <div class="lg:px-48">
      <div>{% block body %} {% endblock %}</div>
    </div>
    <script>
      window.onload = function () {
        messagePopup = document.getElementById("message");
        messagePopup.classList.remove("translate-y-[-5rem]");
        setTimeout(() => {
          messagePopup.classList.add("translate-y-[-5rem]");
        }, 2000);
      };
    </script>
  </body>
</html>
