{% extends "layouts/layout_user.html" %} {% block body %}
<div
  class="text-4xl lg:text-5xl font-bold mb-2 w-full text-ellipsis overflow-hidden"
>
  {{user_data[3]}}'s Dashboard
</div>

<!---->
{% if session['user_type'] == 'student' %}
<div class="flex lg:flex-row flex-col gap-2">
  <div class="flex flex-col gap-2 grow">
    <div
      class="lg:border bg-white border-gray-100 lg:lg:shadow-md p-4 w-full rounded-md h-96"
    >
      {% if bar_script %} {{ resources|safe }}
      <div class="w-full h-full">{{ bar_div|safe }}</div>
      {{bar_script|safe}} {% else %}
      <div class="mx-auto my-auto text-center align-middle font-bold text-2xl">
        Join a class to view your data
      </div>
      {% endif %}
    </div>

    <div class="text-4xl font-bold hidden">Assignments</div>
    <div
      class="lg:border bg-white border-gray-100 lg:shadow-md p-4 w-full rounded-md"
    >
      <div class="text-2xl font-bold mb-2">Recent Sessions</div>
      {% for session in sessions %}
      <div
        class="flex flex-col lg:mx-4 py-4 border-t {%if loop.last %} border-b {% endif %}"
      >
        <div class="flex flex-row gap-2 justify-between items-end">
          <div
            class="text-xl font-bold max-w-auto text-ellipsis overflow-hidden text-nowrap"
          >
            {{session[5]}}
          </div>
          <div
            id="study_show_session_id_{{session[0]}}"
            class="text-xl font-bold"
          >
            {{ session[3] | duration(session[4]) }}
          </div>
        </div>
        <div class="text-sm text-gray-500">
          {{session[3] | dateTimeFormat()}}
        </div>
      </div>
      {% endfor %}
      <div class="flex justify-between mt-4">
        <a
          class="bg-gray-800 font-bold text-white mx-auto text-center py-2 px-4 rounded-md cursor-pointer flex flex-row gap-2"
          href="/sessions"
        >
          View all
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-5 relative top-[.1rem]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2 w-96">
    <div
      class="rounded-md bg-white lg:border border-gray-100 lg:shadow-md px-4 py-4"
    >
      <div class="text-2xl font-bold">My Classes</div>
      <form action="/join_code" method="post">
        <div class="flex flex-row gap-2">
          <input
            class="text-lg font-bold bg-white border-gray-100 border px-2 grow rounded-md"
            autocomplete="off"
            name="join_code"
            placeholder="Class Code"
            type="text"
          />
          <button
            type="submit"
            class="bg-gray-800 py-2 px-4 font-bold text-lg text-white rounded-md"
          >
            Join
          </button>
        </div>
      </form>

      {% for class in classes %}
      <div
        class="class_link flex flex-col col-span-1 row-span-1 transition-all py-2 border-b last:border-0 border-gray-100 w-full"
      >
        <div class="flex flex-row gap-2 h-full w-full">
          <div class="flex flex-col justify-between">
            <div
              class="text-2xl h-12 w-12 font-bold text-white {{ class[2] | colourDictionary }} rounded-md p-4"
            ></div>
          </div>

          <div
            class="text-md row-span-1 font-bold col-span-1 text-ellipsis overflow-hidden text-left"
          >
            {{class[1]}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div
      class="rounded-md bg-white lg:border border-gray-100 lg:shadow-md px-4 py-4 w-full h-[32rem]"
    >
      <div class="text-2xl font-bold">Studying Distribution</div>
      {% if donut_script %} {{ resources|safe }}
      <div class="w-full h-full relative top-[-1rem]">{{ donut_div|safe }}</div>
      {{donut_script|safe}} {% else %}
      <div class="align-middle text-md">Join a class to view data</div>
      {% endif %}
    </div>
  </div>
</div>

<!---->
{% else %}
<div
  class="text-3xl font-bold flex flex-row w-full align-middle justify-between my-2"
>
  <div class="my-auto align-middle">My Classes</div>

  <button
    onclick="popup('class_popup')"
    class="flex flex-row relative bg-gray-800 rounded-md p-2 text-white text-xl cursor-pointer"
  >
    <span class="hidden lg:block">Create Class</span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="currentColor"
      class="size-7 top-[.2rem]"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
  </button>
</div>
<div class="lg:grid lg:grid-cols-3 flex flex-col gap-4 w-full mt-3">
  {% for class in classes %}
  <a
    href="{{ url_for('view_class', class_id=class[0]) }}"
    class="class_link flex flex-col w-full h-40 col-span-1 row-span-1 rounded-md border border-gray-100 lg:shadow-md bg-white hover:bg-gray-50 transition-all p-4"
    data-original-url="{{ url_for('view_class', class_id=class[0]) }}"
  >
    <div class="flex flex-row gap-2 h-full w-full" onclick="event.stop">
      <div class="flex flex-col justify-between">
        <div
          class="text-2xl h-20 w-20 font-bold text-white {{ class[4] | colourDictionary }} rounded-md p-4"
        ></div>
        <div class="flex flex-row justify-between p-2">
          <button class="" onclick="popup('edit_class_popup', {{class[0]}})">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div
        class="font-bold text-xl row-span-1 col-span-1 text-ellipsis overflow-hidden text-left"
      >
        {{class[1]}}
      </div>
    </div>
  </a>
  <div
    id="class_id_{{class[0]}}"
    onclick="popup('edit_class_popup', {{class[0]}})"
    class="opacity-0 transition-all fixed inset-0 bg-opacity-50 bg-black w-full h-full pointer-events-none flex justify-center scale-110"
  >
    <div
      class="bg-white w-[25rem] lg:w-[30rem] rounded-md p-12 mx-auto my-auto align-middle"
      onclick="event.stopPropagation()"
    >
      <form action="/update_class" method="post" class="flex flex-col gap-2">
        <div class="text-2xl font-bold">Edit Class</div>
        <input type="hidden" name="class_id" value="{{class[0]}}" />
        <input
          type="text"
          name="class_name"
          value="{{class[1]}}"
          class="bg-gray-100 p-2 rounded-md font-bold text-xl w-full"
        />
        <div class="flex flex-row gap-2 mb-4">
          {% for colour in colours %}
          <label
            class="size-10 lg:size-12 rounded-md cursor-pointer {{ colour | colourDictionary }}"
          >
            {% if colour == class[4] %}
            <input
              type="radio"
              name="colour"
              value="{{ colour }}"
              class="hidden peer"
              checked
            />
            {% else %}
            <input
              type="radio"
              name="colour"
              value="{{ colour }}"
              class="hidden peer"
            />
            {% endif %}
            <div
              class="w-full h-full rounded-md peer-checked:ring-2 ring-gray-800 peer-checked:scale-105 transition-all opacity-50"
            ></div>
          </label>
          {% endfor %}
        </div>

        <div class="flex flex-row gap-2">
          <div
            class="bg-gray-200 p-2 font-bold rounded-md cursor-pointer w-1/2 text-center"
            onclick="popup('edit_class_popup', {{class[0]}})"
          >
            Cancel
          </div>
          <button
            type="submit"
            class="bg-gray-800 p-2 font-bold text-white rounded-md w-1/2 text-center"
          >
            Save
          </button>
        </div>
        <a
          href="#"
          onclick="deleteClass({{ class[0] }}); return false;"
          class="bg-red-100 font-bold rounded-md py-2 px-4 flex flex-row justify-center cursor-pointer w-full text-red-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="size-5 relative top-[.1rem] mr-1"
          >
            <path
              fill-rule="evenodd"
              d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <div class="text-ellipsis overflow-hidden text-nowrap">
            Delete "{{class[1]}}"?
          </div>
        </a>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<div
  id="class_popup"
  class="opacity-0 transition-all fixed inset-0 bg-opacity-50 bg-black w-full h-full pointer-events-none flex justify-center scale-110"
  onclick="popup('class_popup')"
>
  <div
    class="bg-white w-[25rem] lg:w-[30rem] rounded-md p-12 mx-4 lg:mx-auto my-auto align-middle"
    onclick="event.stopPropagation()"
  >
    <form action="/create_class" method="post" class="flex flex-col gap-4">
      <div class="text-2xl font-bold">Create new class</div>
      <input
        class="bg-gray-100 p-2 rounded-md w-full"
        autocomplete="off"
        name="class_name"
        placeholder="Class Name e.g. Mr Jacque's Software"
        type="text"
        required
      />
      <div class="flex flex-row gap-2">
        {% for colour in colours %}
        <label
          class="size-10 lg:size-12 rounded-md cursor-pointer {{ colour | colourDictionary }}"
        >
          <input
            type="radio"
            name="colour"
            value="{{ colour }}"
            class="hidden peer"
          />
          <div
            class="w-full h-full rounded-md peer-checked:ring-2 ring-gray-800 peer-checked:scale-105 transition-all opacity-50"
          ></div>
        </label>
        {% endfor %}
      </div>
      <div class="flex flex-row gap-2">
        <div
          class="bg-gray-200 p-2 font-bold rounded-md cursor-pointer w-1/2 text-center"
          onclick="popup('class_popup')"
        >
          Cancel
        </div>
        <button
          type="submit"
          class="bg-gray-800 p-2 font-bold text-white rounded-md w-1/2 text-center"
        >
          Create Class
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  // Render the original URL via Jinja

  function popup(popup_id, class_id) {
    let popup;
    if (popup_id == "edit_class_popup") {
      popup = document.getElementById(`class_id_${class_id}`);
    } else {
      popup = document.getElementById(popup_id);
    }

    if (popup.classList.contains("opacity-0")) {
      popup.classList.add("opacity-100", "scale-100");
      popup.classList.remove("opacity-0", "pointer-events-none", "scale-110");
      if (popup_id == "edit_class_popup") {
        toggleClassLink(true);
      }
    } else {
      popup.classList.add("opacity-0", "pointer-events-none", "scale-110");
      popup.classList.remove("opacity-100", "scale-100");
      if (popup_id == "edit_class_popup") {
        toggleClassLink(false);
      }
    }

    function toggleClassLink(popup) {
      const a = document.querySelectorAll(".class_link");
      a.forEach((el) => {
        let originalUrl = el.getAttribute("data-original-url");
        if (popup) {
          el.setAttribute("href", "#");
        } else {
          el.setAttribute("href", originalUrl);
        }
      });
    }
  }

  function deleteClass(class_id) {
    fetch(`/delete_class/${class_id}`, {
      method: "POST",
    });
    location.reload();
  }
</script>
{% endif %} {% endblock %}
