{% extends "layouts/layout_user.html" %} {% block body %}
<div class="lg:w-[40rem] w-full">
  <div class="text-4xl font-bold">Settings</div>
  <div class="flex flex-col gap-6 my-4">
    {% if not user_data[4] %}

    <div
      class="bg-red-100 p-2 rounded-md font-bold flex flex-row text-red-800 mr-auto pr-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-6 mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
        />
      </svg>
      <div class="inline">
        Multi-Factor Authentication is not enabled.
        <a href="/setup_mfa" class="underline">Set up</a>
      </div>
    </div>
    {% endif %}
    <div class="flex flex-row justify-between border-y py-4">
      <div class="flex flex-col">
        <div class="font-bold">Display Name</div>
        <div id="display_show" class="py-2">{{user_data[3]}}</div>
        <form
          action="/update_display_name"
          class="flex flex-row hidden gap-2"
          id="display_input"
          method="post"
        >
          <input
            value="{{user_data[3]}}"
            type="text"
            name="display_name"
            autofocus
            class="px-3 py-2 rounded-md border border-gray-300 text-gray-700"
          />
          <button class="bg-gray-800 text-white font-bold p-2 rounded-md">
            Save
          </button>
        </form>
      </div>
      <div
        onclick="edit('display')"
        class="cursor-pointer font-bold text-sm align-middle my-auto underline"
      >
        Edit
      </div>
    </div>
    <div class="flex flex-row justify-between border-y py-4">
      <div class="flex flex-col">
        <div class="font-bold">Username</div>
        <div id="username_show" class="py-2">{{user_data[1]}}</div>
        <form
          action="/update_username"
          class="flex flex-row hidden gap-2"
          id="username_input"
          method="post"
        >
          <input
            value="{{user_data[1]}}"
            type="text"
            name="username"
            autofocus
            class="px-3 py-2 rounded-md border border-gray-300 text-gray-700"
          />
          <button class="bg-gray-800 text-white font-bold p-2 rounded-md">
            Save
          </button>
        </form>
      </div>
      <div
        onclick="edit('username')"
        class="cursor-pointer font-bold text-sm align-middle my-auto underline"
      >
        Edit
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-sm font-bold">Password</div>
      <input
        value="{{user_data[2]}}"
        disabled
        type="password"
        class="cursor-not-allowed bg-gray-200 px-3 py-2 rounded-md border border-gray-300 text-gray-700"
      />
    </div>
    <a
      class="bg-red-100 font-bold rounded-md py-2 px-4 flex flex-row justify-center cursor-pointer mb-2 text-red-800 w-60 mt-12"
      href=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5 relative top-[.1rem] mr-1"
      >
        <path
          fill-rule="evenodd"
          d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
          clip-rule="evenodd"
        />
      </svg>
      <div class="text-ellipsis overflow-hidden text-nowrap">
        Delete your account?
      </div>
    </a>
  </div>
</div>

<script>
  let previousShow;
  let previousInput;

  function edit(type) {
    let input = document.getElementById(`${type}_input`);
    let show = document.getElementById(`${type}_show`);

    if (input.classList.contains("hidden")) {
      if (previousInput && previousShow) {
        previousShow.classList.remove("hidden");
        previousInput.classList.add("hidden");
      }
      input.classList.remove("hidden");
      show.classList.add("hidden");
    } else {
      input.classList.add("hidden");
      show.classList.remove("hidden");
    }

    previousShow = show;
    previousInput = input;
  }
</script>
{% endblock %}
