{% extends "layouts/layout_user.html" %} {% block body %}
<!---->
{% if class_data %}
<div class="flex flex-col lg:flex-row justify-between">
  <div class="text-4xl font-bold">{{class_entity[1]}}</div>
  <div class="flex flex-row gap-2">
    <div class="flex flex-row gap-2">
      <div class="text-md font-bold bg-gray-200 p-2 rounded-md flex gap-2">
        <div class="cursor-pointer" onclick="joincodePopup()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-5 relative mt-[.15rem]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
            />
          </svg>
        </div>
        {{join_code}}
      </div>
      <a
        href="{{ url_for('view_class', class_id=class_entity[0])}}"
        class="font-bold bg-gray-800 p-2 rounded-md text-white cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          class="size-5 relative top-[.1rem]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
          />
        </svg>
      </a>
    </div>
    <div
      class="text-md text-white bg-gray-800 rounded-md p-2 font-bold flex flex-row cursor-pointer"
      onclick="invitePopup()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="currentColor"
        class="size-5 relative top-[.1rem] mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Invite
    </div>
  </div>
</div>
<div class="flex flex-col lg:flex-row gap-8 lg:gap-2 mt-4">
  <div class="flex flex-col gap-2 grow">
    <div class="text-3xl font-bold">Graphs</div>
    <div class="text-md font-bold bg-white rounded-md p-4 shadow-md">
      <div class="bg-white w-full h-96">
        {% if bar_script %} {{ resources|safe }}
        <div class="w-full h-full">{{ bar_div|safe }}</div>
        {{bar_script|safe}} {% else %}
        <div
          class="mx-auto my-auto text-center align-middle font-bold text-2xl"
        >
          Join a class to view your data
        </div>
        {% endif %}
      </div>
      Average study time is {{average_study_time}} seconds
    </div>
    <div class="text-3xl font-bold">Class</div>
    <table
      class="table-auto text-left text-lg lg:text-base shadow-md rounded-md border border-gray-100"
    >
      <thead>
        <tr class="bg-gray-200">
          <th class="p-2 rounded-tl-md w-2 lg:w-12">ID</th>
          <th class="p-2 lg:w-96 w-1/2">Student Name</th>
          <th class="p-2 lg:w-96 w-1/2">Study Time</th>
          <th class="p-2 lg:grow lg:w-auto w-10 rounded-tr-md"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in class_data %}
        <tr class="bg-white">
          <td class="p-2 {% if loop.last %} rounded-bl-md{% endif %}">
            {{row[0]}}
          </td>
          <td class="p-2">{{row[1]}}</td>
          <td id="study_show_student_id_{{row[0]}}" class="p-2 flex flex row">
            {{row[2] | timeFormat()}}
          </td>
          <td id="study_edit_student_id_{{row[0]}}" class="hidden">
            <form action="/edit_study_time" method="post">
              <input
                type="text"
                name="new_study_time"
                class="bg-gray-100 rounded-md py-1 px-2"
                value="{{row[2] | timeEditFormat()}}"
                placeholder="00:00:00"
              />
              <input type="hidden" name="student_id" value="{{row[0]}}" />
              <input
                type="hidden"
                name="class_id"
                value="{{class_entity[0]}}"
              />
              <button
                type="submit"
                class="bg-gray-800 rounded-md p-1 text-white my-auto"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2.5"
                  stroke="currentColor"
                  class="size-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m4.5 12.75 6 6 9-13.5"
                  />
                </svg>
              </button>
              <button></button>
            </form>
          </td>
          <td
            class="p-2 {% if loop.last %} rounded-br-md {% endif %} overflow-hidden"
          >
            <div class="flex flex-row justify-between cursor-pointer">
              <div onclick="actionPopup({{row[0]}})">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-5 lg:size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                  />
                </svg>
              </div>
              <div
                id="student_id_{{row[0]}}"
                class="lg:right-auto flex flex-col absolute right-12 z-50 ml-[1.5rem] opacity-0 transition-all duration-150 pointer-events-none bg-white p-1 rounded-md shadow-md"
              >
                <div>
                  <input type="hidden" name="delete" value="{{row[0]}}" />
                  <input
                    type="hidden"
                    name="class_id"
                    value="{{class_entity[0]}}"
                  />
                  <button
                    class="flex font-bold flex-row hover:bg-gray-100 transition-all w-full text-sm px-3 py-1"
                    onclick="tableViewMore({{row[0]}})"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2.5"
                      stroke="currentColor"
                      class="size-5 lg:size-4 top-[.1rem] relative mr-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                      />
                    </svg>

                    View
                  </button>
                </div>
                <form>
                  <input type="hidden" name="student_id" value="{{row[0]}}" />
                  <input
                    type="hidden"
                    name="class_id"
                    value="{{class_entity[0]}}"
                  />
                  <button
                    class="flex font-bold text-sm flex-row hover:bg-gray-100 transition-all w-full px-3 py-1"
                    type="button"
                    onclick="toggleStudyEdit({{row[0]}})"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      stroke-width="2.5"
                      stroke="currentColor"
                      fill="None"
                      class="size-5 lg:size-4 top-[.1rem] relative mr-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                      />
                    </svg>

                    Edit
                  </button>
                </form>
                <form action="/remove_student" method="post">
                  <input type="hidden" name="student_id" value="{{row[0]}}" />
                  <input
                    type="hidden"
                    name="class_id"
                    value="{{class_entity[0]}}"
                  />
                  <button
                    class="flex font-bold flex-row hover:bg-gray-100 transition-all w-full text-sm px-3 py-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      stroke-width="2.5"
                      stroke="currentColor"
                      fill="none"
                      class="size-5 lg:size-4 top-[.1rem] relative mr-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                      />
                    </svg>
                    Remove
                  </button>
                </form>
              </div>
            </div>
          </td>
        </tr>
        <tr id="student_id_more_{{row[0]}}" class="hidden">
          <td colspan="4" class="p-2">
            <div class="">Total Sessions:</div>
            <div class="">Average Session Duration:</div>
            <div class="">Other stat:</div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="flex flex-col gap-2 w-full lg:w-[24rem]">
    <div class="text-3xl font-bold">Sessions</div>
    {% for session in session_data %}
    <div
      class="bg-white border border-gray-100 rounded-md px-4 py-4 flex flex-col shadow-md"
    >
      <div class="flex flex-row justify-between items-end">
        <div class="text-xl font-bold">{{session[2] | getStudentName}}</div>
        <div
          id="study_show_session_id_{{session[0]}}"
          class="text-xl font-bold"
        >
          {{ session[3] | duration(session[4]) }}
        </div>
        <form
          action="/update_session"
          method="post"
          id="study_edit_session_id_{{session[0]}}"
          class="hidden flex flex-row"
        >
          <input
            class="text-xl font-bold bg-gray-100 rounded-md px-2"
            value="{{ (session[3] | duration(session[4], 'seconds')) | timeEditFormat }}"
            name="new_session_duration"
            placeholder="00:00:00"
          />
          <input
            type="hidden"
            name="duration"
            value="{{ session[3] | duration(session[4], 'seconds') }}"
          />
          <input type="hidden" name="session_id" value="{{session[0]}}" />
          <input type="hidden" name="class_id" value="{{session[1]}}" />
          <input type="hidden" name="student_id" value="{{session[2]}}" />
          <button class="bg-gray-800 rounded-md p-1 text-white my-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 12.75 6 6 9-13.5"
              />
            </svg>
          </button>
        </form>
      </div>
      <div class="text-md text-gray-800 overflow-x-hidden text-ellipsis">
        {{session[5]}}
      </div>
      <div class="flex flex-row justify-between">
        <div class="text-sm text-gray-500">
          {{session[3] | dateTimeFormat()}}
        </div>
        <div class="flex flex-row justify-between cursor-pointer">
          <div onclick="actionPopup({{session[0]}}, 'session')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 lg:size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
              />
            </svg>
          </div>
          <div
            id="session_id_{{session[0]}}"
            class="flex flex-col absolute lg:right-auto right-14 z-50 ml-[1.5rem] opacity-0 transition-all duration-150 pointer-events-none bg-white p-1 rounded-md shadow-md"
          >
            <form>
              <input type="hidden" name="session_id" value="{{session[0]}}" />
              <input type="hidden" name="class_id" value="{{session[1]}}" />
              <input type="hidden" name="student_id" value="{{session[2]}}" />
              <button
                class="flex font-bold text-sm flex-row hover:bg-gray-100 transition-all w-full px-3 py-1"
                type="button"
                onclick="toggleStudyEdit({{session[0]}}, 'session')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  stroke-width="2.5"
                  stroke="currentColor"
                  fill="None"
                  class="size-5 lg:size-4 top-[.1rem] relative mr-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                  />
                </svg>

                Edit
              </button>
            </form>
            <form action="/delete_session" method="post">
              <input type="hidden" name="session_id" value="{{session[0]}}" />
              <input type="hidden" name="class_id" value="{{session[1]}}" />
              <input type="hidden" name="student_id" value="{{session[2]}}" />
              <button
                class="flex font-bold flex-row hover:bg-gray-100 transition-all w-full text-sm px-3 py-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2.5"
                  stroke="currentColor"
                  class="size-5 lg:size-4 top-[.1rem] relative mr-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>

                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div class="w-full h-full flex items-center flex-col my-24">
  <div class="text-4xl font-bold mb-12">Add some students to your class!</div>
  <div class="text-3xl">Your class code is:</div>
  <div class="flex flex-row gap-2">
    <div class="text-4xl font-bold bg-gray-200 p-2 rounded-md">
      {{join_code}}
    </div>
    <a
      href="{{ url_for('view_class', class_id=class_entity[0])}}"
      class="text-4xl font-bold bg-gray-800 p-2 rounded-md text-white cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="currentColor"
        class="size-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
        />
      </svg>
    </a>
  </div>
  <div class="text-xl my-4">or</div>
  <div class="text-2xl flex flex-row">
    Add students by
    <div
      class="decoration-solid underline cursor-pointer ml-1"
      onclick="invitePopup()"
    >
      invite
    </div>
  </div>
</div>
{% endif %}
<div
  id="invite_popup"
  class="opacity-0 transition-all fixed inset-0 bg-opacity-50 bg-black w-full h-full pointer-events-none flex justify-center scale-110"
  onclick="invitePopup()"
>
  <div
    class="bg-white w-[25rem] lg:w-[30rem] rounded-md p-12 mx-auto my-auto align-middle"
    onclick="event.stopPropagation()"
  >
    <form action="/invite_student" method="post">
      <div class="text-2xl font-bold">Invite a student</div>
      <input
        class="bg-gray-100 p-2 rounded-md w-full my-6"
        autocomplete="off"
        name="student_username"
        placeholder="Student username"
        type="text"
      />
      <input value="{{class_entity[0]}}" name="class_id" type="hidden" />
      <div class="flex flex-row gap-2">
        <div
          class="bg-gray-200 p-2 font-bold rounded-md cursor-pointer w-1/2 text-center"
          onclick="invitePopup()"
        >
          Cancel
        </div>
        <button
          type="submit"
          class="bg-gray-800 p-2 font-bold text-white rounded-md w-1/2 text-center"
        >
          Invite
        </button>
      </div>
    </form>
  </div>
</div>
<div
  class="bg-black bg-opacity-50 w-full h-screen shadow-md rounded-md fixed top-0 left-0 z-50 lg:px-24 lg:py-24 transition-all opacity-0 pointer-events-none"
  id="joincode_popup"
  onclick="joincodePopup()"
>
  <div
    class="h-full w-full bg-white rounded-md flex flex-col"
    onclick="event.stopPropagation()"
  >
    <div class="w-full flex justify-end p-4 cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-6"
        onclick="joincodePopup()"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </div>
    <div
      class="align-middle text-center text-8xl font-bold mx-auto my-auto flex flex-col gap-8"
    >
      <div class="text-5xl font-bold text-center">
        Join your teacher's class by entering the pin!
      </div>

      <div class="bg-gray-200 rounded-lg p-4 mx-auto mb-48 lg:mb-36">
        {{join_code}}
      </div>
      <div class="lg:hidden block text-lg font-normal text-gray-500">
        Flip device to improve visibility for students!
      </div>
    </div>
  </div>
</div>

<script>
  let tablePopup = false;
  let previousPopup;
  function invitePopup() {
    const popup = document.getElementById("invite_popup");

    if (popup.classList.contains("opacity-0")) {
      popup.classList.add("opacity-100", "scale-100");
      popup.classList.remove("opacity-0", "pointer-events-none", "scale-110");
    } else {
      popup.classList.add("opacity-0", "pointer-events-none", "scale-110");
      popup.classList.remove("opacity-100", "scale-100");
    }
  }
  function tableViewMore(student_id) {
    const popup = document.getElementById(`student_id_more_${student_id}`);

    if (popup.classList.contains("hidden")) {
      popup.classList.remove("hidden");
    } else {
      popup.classList.add("hidden");
    }
  }
  function actionPopup(id, type) {
    //console.log(type);
    let popup;
    if (type == "session") {
      //console.log(`session_id_${id}`);
      popup = document.getElementById(`session_id_${id}`);
    } else {
      popup = document.getElementById(`student_id_${id}`);
    }

    if (popup == previousPopup || !previousPopup) {
      if (popup.classList.contains("opacity-0")) {
        popup.classList.add("opacity-100");
        popup.classList.remove("opacity-0", "pointer-events-none");
        tablePopup = true;
      } else {
        popup.classList.add("opacity-0", "pointer-events-none");
        popup.classList.remove("opacity-100");
      }
    } else {
      if (tablePopup) {
        previousPopup.classList.add("opacity-0", "pointer-events-none");
        previousPopup.classList.remove("opacity-100");
        popup.classList.add("opacity-100");
        popup.classList.remove("opacity-0", "pointer-events-none");
        tablePopup = true;
      }
    }
    previousPopup = popup;
  }
  function toggleStudyEdit(id, type) {
    //console.log(id);
    let show;
    let edit;
    if (type == "session") {
      show = document.getElementById(`study_show_session_id_${id}`);
      edit = document.getElementById(`study_edit_session_id_${id}`);
    } else {
      show = document.getElementById(`study_show_student_id_${id}`);
      edit = document.getElementById(`study_edit_student_id_${id}`);
    }
    //console.log(show);
    //console.log(edit);
    if (edit.classList.contains("hidden")) {
      show.classList.add("hidden");
      edit.classList.remove("hidden");
    } else {
      show.classList.remove("hidden");
      edit.classList.add("hidden");
    }
  }
  function joincodePopup() {
    popup = document.getElementById("joincode_popup");
    if (popup.classList.contains("opacity-0")) {
      popup.classList.add("opacity-100");
      popup.classList.remove("opacity-0", "pointer-events-none");
    } else {
      popup.classList.add("opacity-0", "pointer-events-none");
      popup.classList.remove("opacity-100");
    }
  }
</script>
<!---->
{% endblock %}
